.contact-heading{
  margin-top: 5rem;
  color: #e67700;
  font-size: 2.5rem;
}
.contact-description{
  font-family: 'Lobster', cursive;
  font-size: 1.2rem;
}
.img-{
  width: 50%;
}

h4 {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.contact-us{
  font-size: 2rem;
  color: #000;
}
.flex-col{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
input.form-control.form-control-lg {
  padding: 0rem 4rem 0rem 0rem;
  font-size: 1.5rem;
}
button{
  border: none;
  border-radius: 1rem;
  margin: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.error{
  color: #e03131;
}
@media only screen and (max-width: 425px) {
  .menu-heading{
    font-size: 2rem;
  }
  .contact-heading {
    font-size: 1.8rem;
  }
  .contact-description {
    font-size: 1rem;
}
.img- {
  width: 75%;
}
}
@media only screen and (max-width: 320px) {
  .menu-heading {
    font-size: 1.5rem;
}
}