
.hero-section{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.main-heading{
  color: #e67700;
  font-size: 4rem;
}
.meal-side{
  overflow: visible;
}
.subheading{
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin-left: 10rem;
  font-family: 'Lobster', cursive;
}
.dflex{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
}
.btn {
  background-color: #e67700;
  padding: 1.3rem 3rem;
  color: #fff;
  border-radius: 2rem;
  
}
.btn:hover{
  background-color: #f08c00;
}
.btn-secondary:hover{
  background-color: #e67700;
  color: #fff;
}
.btn-secondary{
  background-color: #fff;
  color: #e67700;
}
h3{
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.grid2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.img{
  width: 100%;
}
.textbox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.meal-heading {
  color: #f08c00;
  font-size: 2rem;
  /* letter-spacing: 10px; */
  text-transform: uppercase;
}
.btn-outline{
  background-color: #fff;
  color: #f08c00;
  border: none;
  padding: 1rem 2rem;
  font-size: 2rem;
  border: 2px solid #f08c00;
  cursor: pointer;
  margin-top: 1rem;
}
.btn-outline:hover{
  background-color: #e67700;
  color: #fff;
  transition: all 2s;
}
.desert-section{

  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.desert-heading{
  font-size: 5rem;
  font-style: italic;
  font-weight: 900;
  
}
.desert-subheading{
  font-size: 1rem;
}
.desert-heading,.desert-subheading{
  color: #fff;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.btn-transparent{
  background-color: transparent;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  font-size: 2rem;
  color: #fff;
  padding: 1rem 4rem;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.btn-transparent:hover{
  background-color: #000;
  transition: all 2s;
}
.subheading-dining{
  font-family: 'Lobster', cursive;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
}
.heading{
  color: #f08c00;
  font-size: 2rem;
}
.description{
  text-align: center;
  line-height: 2;
}
/* Image containers */
.img-box,.imgbox{
  display: flex;
  justify-content: flex-end;
}

.dining-img{
  width: 100%;
}
p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 4s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@media only screen and (max-width: 768px) {
  .main-heading{
    text-align: center;
  }
  .dflex{
    margin-top: 1rem;
  }
  .meal-heading,.desert-heading {
    font-size: 2rem;
  }
  .description {
    font-size: 0.8rem;
}
.btn-outline{
  padding: 1rem 2rem;
  font-size: 1rem;

}
.btn-transparent{
  font-size: 2rem;
  padding: 1rem 3rem;
}

}
@media only screen and (max-width: 425px){
  .main-heading {
    font-size: 3rem;
}
.btn-transparent{
  font-size: 2rem;
  padding: 1rem 2rem;
}
.subheading{
  font-size: 1.5rem;
  text-align: center;
  margin-left: 4rem;

}
.meal-heading, .desert-heading {
  font-size: 1.8rem;
}
.subheading-dining{
  font-size: 1rem;
}
}
@media only screen and (max-width: 375px){
  .subheading{
    font-size: 1.3rem;
    margin-left: 5rem;
  }
}
@media only screen and (max-width: 320px){
  .subheading{
    font-size: 1.3rem;
    margin-left: 3rem;
  }
}
